@import url("https://fonts.googleapis.com/css?family=Domine|Roboto&display=swap");

html,
body {
  height: 100%;
  background-color: #341749;
  color: #ffff;
}

.App {
  width: 700px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

h1 {
  margin-top: 50px;
}

h1,
h3 {
  font-family: "Domine", serif;
  margin-bottom: 10px;
}

form {
  margin: 30px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  height: 30px;
  width: 300px;
  background: none;
  color: #ffff;
  border: 2px solid #ffff;
  border-radius: 5px;
  text-align: center;
}

form label {
  margin: 10px;
}

button {
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

button.submit-button {
  padding: 1.25em 2em;
  border: 2px solid #230c33;
  border-radius: 0.75em;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background: #9e4ce2;
  transform-style: preserve-3d;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

button.submit-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #6f37af;
  box-shadow: 0 0 0 2px #230c33, 0 0.625em 0 0 #3a125a;
  transform: translate3d(0, 0.75em, -1em);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

button.submit-button:hover {
  background: #a75bda;
  transform: translate(0, 0.25em);
}

button.submit-button:hover::before {
  box-shadow: 0 0 0 2px #230c33, 0 0.5em 0 0 #3a125a;
  transform: translate3d(0, 0.5em, -1em);
}

button.submit-button:active {
  background: #a75bda;
  transform: translate(0, 0.75em);
}

button.submit-button:active::before {
  box-shadow: 0 0 0 2px #230c33, 0 0 #3a125a;
  transform: translate3d(0, 0, -1em);
}
